.widget-doge {
  background-color: red;
  background-image: url('https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg');
  background-repeat: no-repeat;
}

.widget-doge .value {
  color: white;
}

.widget-doge .change-rate {
  font-weight: 500;
  font-size: 30px;
  color: white;
}

.widget-doge .more-info {
  color: rgba(255, 255, 255, 0.7);
}
