.widget-sysorb {
  background-color: #888;
}

.widget-sysorb iframe {
	border: solid 10px #FFF;
	height: 340px;
}

.widget-sysorb h2 {
	font-size: 24px;
	text-transform: none;
	font-weight: bold;
}
